/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #164783;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close {
    width: 78px;
}
.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    margin-top: 10px;
}
.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-links {
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
    background: #5477a4;
}
.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
    display: block;
}
.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
    display: none;
}
.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #164783;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}
.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0b2a51;
    padding: 12px 0;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details {
    background: none;
}
.sidebar.close .profile-details {
    width: 78px;
}
.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}
.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
    padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}
.sidebar .profile-details .job {
    font-size: 12px;
}
.content-section {
    padding: 40px 60px 40px 60px;
    position: relative;
    background: #f5f6fa;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.content-body {
    height: 100%;
}
.content-divider {
    margin: 0px 0px 30px 0px !important;
    background-color: #164783 !important;
    height: 5px;
}
.sidebar.close ~ .content-section {
    left: 78px;
    width: calc(100% - 78px);
}
.content-section .content-title {
    height: 60px;
    display: flex;
    align-items: center;
}
.content-section .content-title .bx-menu,
.content-section .content-title .text {
    color: #11101d;
    font-size: 35px;
}
.sidebar .logo-details .logo-name {
    margin-top: 10px;
}
.content-section .content-title .text {
    font-size: 26px;
    font-weight: 600;
}
@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }
    .sidebar {
        width: 78px;
    }
    .sidebar.close {
        width: 0;
    }
    .content-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }
    .sidebar.close ~ .content-section {
        width: 100%;
        left: 0;
    }
}

/* GLOBAL */
body {
    color: #f5f6fa !important;
}

h1,
h2,
h3,
h4, h5{
    color: #164783 !important;
}

p, label {
    color: #212427 !important;
}

.content-container {
    background: #ffffff;
    padding: 30px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    flex: 1;
}

text, .text-blue {
    color: #143a67 !important;
}

.small-column {
    width: 100px !important;
}

.medium-column {
    width: 200px !important;
}

.large-column {
    width: 300px !important;
}

.empty-cell {
    height: 50px !important;
}

thead {
    color: #143a67;
    background-color: #c3d7f1;
}

tbody {
    vertical-align: middle;
}

.text-justify {
    text-align: justify !important;
}

.text-middle {
    text-align: center !important;
}

.table,
.table thead th,
.table tbody td {
    text-align: center;
}

.table {
    margin-bottom: 30px !important;
}

.table-bordered {
    border: solid #c3d7f1 1px !important;
}

textarea {
    margin: 0px !important;
    resize: none;
    padding: 8px;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    resize: none !important;
}

.textarea {
    margin: 0px;
    padding: 8px;
    height: 100%;
    width: 100%;
    border: 0px;
    resize: none;
}

.td-textarea {
    padding: 0px !important;
    margin: 0px;
}

.search-box {
    width: 300px !important;
    float: right;
}

.text-right {
    text-align: right;
}

.position-right {
    margin-left: auto;
    margin-right: 0px;
}

.form-control-right {
    width: 300px !important;
    text-align: right;
}

/* BUTTONS */
.btn-primary {
    background-color: #0b2a51 !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #5477a4 !important;
}
